@charset "utf-8";
*{
  margin:0px;
  padding:0px;
  text-decoration:none;
  box-sizing:border-box;
  font-size:.14rem;
  font-style:normal;
  font-weight:normal;
  font-family:"黑体";
}
ul,li{
  list-style:none;
}
html{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}
img,div,body,html,ul,li,a{
 -webkit-touch-callout: none;
 }
 input,button{
 outline:0;
 }
 button{
 cursor:pointer;
 }
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
    color: #ccc;
}
body,html,.wrap{
    width:100%;
    height:100%;
    background:#FADBCE;
}
.top{
    width:100%;
    height:4rem;
    position:relative;
    img{
        width:100%;
        height:100%;
    }
    .list{
        position:absolute;
        left:.5rem;
        bottom:.5rem;
        ul{
            li{
                float: left;
                padding:.6rem .3rem;
                h4{
                    font-size:.16rem;
                    color:#fff;
                }
                p{
                    font-size:.16rem;
                    color:#F3DA48;
                }
            }
        }
    }
    .zi{
        position:absolute;
        left:.8rem;
        bottom:.8rem;
        h3{
            color:#fff;
        }
    }
    .search{
        position:absolute;
        left:.52rem;
        bottom:.12rem;
        input{
            width:3rem;
            height:.4rem;
            border:0;
            border-radius:5px;
            color:#358994;
            padding-left:.1rem;
        }
        img{
            width:.3rem;
            height:.2rem;
            position:absolute;
            right:.2rem;
            top:.1rem;
        }
    }
}
.swiper-container{
    width:100%;
    height:100%;
    nav{
       width:100%;
       height:.7rem; 
       padding:.1rem 0;
       span{
           display: inline-block;
           padding:.13rem .2rem;
           border-radius:20px;
           background:#88CED5;
           color:#fff;
           margin:.1rem .15rem;
       }
        .on{
            background:#358994;
        }
    }
}
.swiper-slide{
      display: -webkit-flex;
      flex-wrap: wrap;
      padding: 20px 10px;
      box-sizing: border-box;
      text-align: center;
      dl{
        width: 50%;
        padding: 10px 5px;
        box-sizing: border-box;
        dt{
          img{
              width: 100%;
            }
        }
        dd{
          display: -webkit-flex;
          p:nth-child(1){
            background: #e79c81;
            -webkit-flex: 1;
            padding-left: 10px;
            box-sizing: border-box;
          }
          p:nth-child(2){
            background: #e34646;
            padding: 12px 10px;
            box-sizing: border-box;
          }
          p{
            em{
              display: block;
              color: #ffffff;
              text-align: left;
              padding-top: 5px;
              box-sizing: border-box;
            }
          }
        }
}
    .swiper-slide{
      display: -webkit-flex;
      flex-wrap: wrap;
      padding: 20px 10px;
      box-sizing: border-box;
      text-align: center;
      dl{
        width: 50%;
        padding: 10px 5px;
        box-sizing: border-box;
        dt{
          img{
            width: 100%;
          }
         
        }
        dd{
          display: -webkit-flex;
          p:nth-child(1){
            background: #e79c81;
            -webkit-flex: 1;
            padding-left: 10px;
            box-sizing: border-box;
          }
          p:nth-child(2){
            background: #e34646;
            padding: 12px 10px;
            box-sizing: border-box;
          }
          p{
            em{
              display: block;
              color: #ffffff;
              text-align: left;
              padding-top: 5px;
              box-sizing: border-box;
            }
          }
        }
      }
    }
}